a:link, a:visited { 
	color: #333;
	text-decoration: none;
	cursor: auto;
}
a:hover {
	color: grey;
	cursor: pointer;
}

a:link:active, a:visited:active { 
	color: grey;
	cursor: pointer;
}

.nav-item a:link, a:visited { 
	color: #333;
	text-decoration: none;
	cursor: auto;
}
#nav-list li a {
	position: relative;
	display: block;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

#nav-list li a::after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #333;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

#nav-list li a:hover {
	color: grey;
	cursor: pointer;
}

#nav-list li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}


#nav-list li a:link:active, a:visited:active { 
	color: grey;
	cursor: pointer;
}

.card {
    border: none;
    height: auto;
    padding: 3% 3% 3% 3%;
    margin: 3% 3% 3% 3%;
/* padding: 1.5rem 3rem 1.5rem 3rem; margin: 1.5rem 3rem 1.5rem 3rem; */
}
.card-body {
    padding: 1rem;
}
.card-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
}


/* Galleries */
.scroll-container {
    height: 800px;
    overflow-x: auto;
}

.scroll-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-container {
    flex: 0 0 30%;
    margin: 0;
    padding: 0;
}

.image-container img {
    max-width: 500px;
    height: 100%;
}

#footerlink:link, #footerlink:visited { 
	color: #fff;
	text-decoration: none;
	cursor: auto;
}

#footerlink:hover {
	color: grey;
	cursor: pointer;
}

#footerlink:link:active, #footerlink:visited:active { 
	color: grey;
	cursor: pointer;
}

#footerlink:link, #footerlink:visited { 
	color: #fff;
	text-decoration: none;
	cursor: auto;
}

#footerlink:hover {
	color: grey;
	cursor: pointer;
}

#footerlink:link:active, #footerlink:visited:active { 
	color: grey;
	cursor: pointer;
}

#footer-list li a {
	position: relative;
	display: block;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

#footer-list li a::after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 1.5px;
	background: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

#footer-list li a:hover {
	color: grey;
	cursor: pointer;
}

#footer-list li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}


#footer-list li a:link:active, a:visited:active { 
	color: grey;
	cursor: pointer;
}